/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(bookbg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
}
div h2 {
    background: rgba(0,0,0.5,0.5);
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
}

h2{
    color:rgb(181, 209, 181);
    text-align: center;
}

button{
  background-color: rgb(102, 136, 175); /* Green */
  border-radius: 12px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.book a.active {
    color: rgb(197, 195, 87);
}

.book a:hover {
    color: rgb(207, 34, 170);
}

.book a {
    text-decoration: none;
    width: 8em; 
    color: #FFFFFF;
}

.link1 {
    padding: 1em;
    color:rgb(193, 197, 211);
    box-sizing:border-box;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    max-width: auto;
    /* padding: 10%; */
    background: rgba(0,0,0.5,0.5);
}
.back {
    padding: 2em;
    color:rgb(236, 236, 220);
    box-sizing:border-box;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}
